
.div-container {
  /* position: relative; */
  padding: 20px;
  color: #fff;
  text-align: center;
  transition: 0.5s;
  z-index: 10000;
}

.div-container a {
  /* position: relative; */
  display: inline-block;
  /* margin-top: 10px; */
  border: 2px solid #fff;
  padding: 16px 28px;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  border-radius: 73% 27% 44% 56% / 49% 44% 56% 51%;
  
}

.div-container a:hover {
  background: rgb(233, 130, 207);
  color: #333;
}