html,
body {
  height: 1%;
}
body {
  display: grid;
  place-items: center;
  perspective: 1000px;
  margin: 0;
  padding: 0;
  font-family: "Euclid Circular A", "Poppins";
  background: #6733bd;
  color: #f9f9f9;
  background: url("pozadina1.jpg");
}
#card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background-size: 110%;
  background-position: center;
  transition: 0.5s;
  border: 2px solid #fff;
  background-color: #000;
 
}
#card h1 {
  font-size: 20px;
  color: pink
}


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.rainbow_btn::before {
    content: "";
    background: linear-gradient(45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

.rainbow_btn:active {
    color: #000;
}

.rainbow_btn:hover::before {
    opacity: 1;
}

.rainbow_btn::after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;

}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}
.margin {
  margin-bottom: 50px;
}
#slika{
  width: 250px;
  
  border: #ff00c8;
  border-radius: 8px;
}
