table, th, td{
    border: 1px solid rgb(131, 27, 141);
    border-collapse: collapse;
}
th, td{

padding: 15px;
}

.polje {
    background-color: rgb(196, 246, 255);
    padding: 5px;
    margin: 10px;
}
