body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1560px 1040px;
}

.block {
    display: block;
    /* height: 60vh; */
    width: 60vw;
    position: relative;
    margin: 6% auto;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    padding: 5rem;
}

.block1 {
  display: block;
  width: 60vw;
  position: relative;
  margin: 6% auto;
}


.form-div {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    width: 70%;
    height: 2.7rem;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(53, 53, 53);
}

.text {
  display: flex;
  justify-content: center;
  font-family: 'Source Sans Pro', sans-serif;
}

.input-field {
    text-align: center;
    width: 100%;
    font-size: 0.9rem;
    margin: 4px 0;
    border-radius: 10px;
}

#button1 {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    width: 80%;
    height: 1.4rem;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(53, 53, 53);
}

.tabela {
    padding-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    justify-content: center;
    width: 100%;
    height: 2rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.9rem;
    color: rgb(45, 45, 45);
}

.tabela th, td {
    background-color: rgba(227, 113, 47, 0.7);
    border: 1px solid rgb(255, 255, 255);
    border-collapse: collapse;
    border-color: 1px solid rgb(255, 255, 255);
    border-radius: 3px; 
}  

/* #block2 th,
td {
    text-align: center;
    font-size: 14px;
    padding: 1px;
    background-color: #ffffff;
    border-style: groove;
} */

.dropbtn {
    background-color: #ffffff;
    color: rgb(3, 3, 3);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #d2d3d2;
  }